@{
    Layout = "~/Areas/SysManage/Views/Shared/_LayoutPageBaseForm.cshtml";
}
@model SystemArticleType
<form class="form-horizontal ctrl-form">
    <input value="@Model.ArticleTypeId" name="ArticleTypeId" hidden/>
    @Html.AntiForgeryToken()
    <div class='hr-line-dashed'></div>
    <div class="form-group">
        <label class="col-sm-2 control-label">上级分类：</label>
        <div class="form-group  col-sm-10">
            <input id="txtParent" type="text" class="form-control input-sm" readonly />
            <input name="ParentId" id="ParentId" type="hidden" readonly />
            <div id="menuContent" class="menuContent" style="display:none; box-shadow: #464343 0px 0px 18px;background-color: white;">
                <ul id="treeMenu" class="ztree" style="margin-top:0; width:160px;"></ul>
            </div>
        </div>
    </div>
    <div class='hr-line-dashed'></div>
    <div class='form-group'>
        <label class='col-sm-2 control-label'> 名称：</label>
        <div class='form-group  col-sm-10'>
            <input type='text' name='Name' id='Name'value="@Model.Name"  class='form-control input-sm'>
        </div>
    </div>  <div class='hr-line-dashed'></div>
    <div class='form-group'>
        <label class='col-sm-2 control-label'> 排序码：</label>
        <div class='form-group  col-sm-10'>
            <input type='text' name='OrderNo' id='OrderNo' value="@Model.OrderNo" class='form-control input-sm'>
        </div>
    </div> 
    <div class='hr-line-dashed'></div>
    <div class="form-group">
        <label class="col-sm-2 control-label">是否显示：</label>
        <div class="form-group  col-sm-10">
            <label class="checkbox-inline">
                <input type="checkbox" name="IsShow" value="true" id="IsShow" @(Model.IsShow ? "checked" : "")> 显示
            </label>
        </div>
    </div>
  <div class='hr-line-dashed'></div>
    <div class='form-group'>
        <label class='col-sm-2 control-label'>  SEO标题：</label>
        <div class='form-group  col-sm-10'>
            <input type='text' name='SeoTitle' id='SeoTitle' value="@Model.SeoTitle" class='form-control input-sm'>
        </div>
    </div>  <div class='hr-line-dashed'></div>
    <div class='form-group'>
        <label class='col-sm-2 control-label'>  SEO关键字：</label>
        <div class='form-group  col-sm-10'>
            <input type='text' name='SeoKey' id='SeoKey' value="@Model.SeoKey" class='form-control input-sm'>
        </div>
    </div>  <div class='hr-line-dashed'></div>
    <div class='form-group'>
        <label class='col-sm-2 control-label'>  SEO描述：</label>
        <div class='form-group  col-sm-10'>
            <input type='text' name='SeoDes' id='SeoDes' value="@Model.SeoDes" class='form-control input-sm'>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="保 存" id="btnForm" class="btn btn-primary" />
            <input id="rst" class="btn" type="button" value="返 回" name="rst" />&nbsp;
        </div>
    </div>

</form>

<script>
    $(function () {
        var $form = $('form');
        var instance = $form.parsley();
        $("#btnForm").bind("click", function () {
            $("#btnForm").attr({ "disabled": "disabled" });
            if (instance.isValid()) {
                $post("/SysManage/ArticleType/SaveArticleType", $form.serialize()).then(function (data) {
                    $.Alert(data, function () {
                        if (data.resultSign == 0) {
                            parent.window.location.reload();
                        }
                    });
                })
                $("#btnForm").removeAttr("disabled");
                return false;
            } else {
                $("#btnForm").removeAttr("disabled");
            }
        })

        $post("/sysManage/ArticleType/GetArticleTypeTree", null).then(function (data) {
                 @{
                if (!Model.ParentId.IsEmptyGuid())
                {
                    <text>
                  $("#ParentId").val('@Model.ParentId');
                    $("#txtParent").val(_.find(data, function(o) { return o.id == '@Model.ParentId'; }).name);
                 </text>

                }
            }
            $('#treeMenu').zTreeSelect("#menuContent", "#txtParent", data, function (e, treeId, treeNode) {
                var zTree = $.fn.zTree.getZTreeObj(treeId);
                nodes = zTree.getSelectedNodes(),
                    v = "", id = "";
                nodes.sort(function compare(a, b) { return a.id - b.id; });
                for (var i = 0, l = nodes.length; i < l; i++) {
                    v += nodes[i].name + ",";
                    id = nodes[i].id;
                }
                if (v.length > 0) v = v.substring(0, v.length - 1);
                $("#txtParent").val(v);
                $("#ParentId").val(id);
            });
        })
    });
</script>
