@{
    Layout = "~/Areas/SysManage/Views/Shared/_LayoutPageBaseList.cshtml";
}
@model SystemExceptionLog
<div class="row">
    <table class="table table-hover">
        <tbody>
            <tr>
                <th style="width:20%">错误时间：</th>
                <td>@Model.CreateTime</td>
            </tr>
            <tr>
                <th>错误信息：</th>
                <td>@Model.Message</td>
            </tr>
            <tr>
                <th>请求Url：</th>
                <td>@Model.RequestUrl</td>
            </tr>
            <tr>
                <th>堆栈信息：</th>
                <td>@Model.StackTrace</td>
            </tr>
            <tr>
                <th>内部信息：</th>
                <td>@Model.InnerException</td>
            </tr>
            <tr>
                <th>登录名：</th>
                <td>@Model.CreateUserCode</td>
            </tr>
            <tr>
                <th>名称：</th>
                <td>@Model.CreateUserName</td>
            </tr>
            <tr>
                <th>请求方式：</th>
                <td>@Model.HttpMethod</td>
            </tr>
            <tr>
                <th>客户端IP：</th>
                <td>@Model.ClientHost</td>
            </tr>
            <tr>
                <th>归属地址：</th>
                <td>@Model.ClientAddress</td>
            </tr>
            <tr>
                <th>请求数据：</th>
                <td>@Model.RequestData</td>
            </tr>
        </tbody>
    </table>
</div>
