@{
    Layout = "~/Areas/SysManage/Views/Shared/_LayoutPageBaseList.cshtml";
}
@model SystemLoginLog
<table class="table table-hover">
    <tbody>
        <tr>
            <th style="width:20%">登录时间：</th>
            <td>@Model.LoginTime</td>
        </tr>
        <tr>
            <th>登录名：</th>
            <td>@Model.CreateUserCode</td>
        </tr>
        <tr>
            <th>名称：</th>
            <td>@Model.CreateUserName</td>
        </tr>
        <tr>
            <th>客户端IP：</th>
            <td>@Model.ClientHost</td>
        </tr>
        <tr>
            <th>归属地址：</th>
            <td>@Model.IpAddressName</td>
        </tr>
    </tbody>
</table>